*{
    margin: 0px;
}

.menu{
    display: flex;
    position: relative;
    
}


#nav {
background: #ffd6e8;

}

.nav-link {
color: #fff !important; 
text-decoration:none;
}

ul, li, p{
    list-style: none;
    font-size: 1rem;
    padding: 0px;
}
 li{
    margin-left: 20px;
    display:block;
    text-align: center;
}
li.active a{
    border-bottom: 5px solid white;
    border-radius: 3px;
    transition: 0.2s ease;
}
a{
    color: #fff !important; 
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: currentColor;
}


 li a {
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    height: 30px;
}
a:hover {
    color: #fff !important; 
    border-bottom: 5px solid white;
    border-radius: 2px;
    transition: 0.3s ease;
    text-decoration: none;
    color:currentColor;

    } */
 li a:hover,  li.active a {
    border-bottom: 5px solid white;
    border-radius: 3px;
    transition: 0.3s ease;
}


#bt{

    text-align: center;

}
    
.ft{
    background-color: #ffd6e8;

}


.bn{
    background-color: #ffd6e8;
    z-index: 1;
}

.meio{
    
    background-color: #ffd6e8;
    
}
#botao{

    color: white;
}
img{
    width: 100x;
    height:100px;
}



   /* .content label{display: block; font-size: 30px;}

   .content a{display: block;}

   .content input{display: block;} */

   /* .footer{ width : 100%; background-color: rgb(rgba(136, 117, 117, 0.692), green, blue); display: flex;justify-content: center;
    flex-direction: column;;}

    .footer img{ width: 50%; height: 300px; padding-left: 450px;;}  */