

#bt{

    text-align: center;

}
    
.ft{
    background-color: #ffd6e8;
}


.bn{
    background-color: #ffd6e8;
}

.meio{

    background-color: #ffd6e8;
}


   /* .content label{display: block; font-size: 30px;}

   .content a{display: block;}

   .content input{display: block;} */

   /* .footer{ width : 100%; background-color: rgb(rgba(136, 117, 117, 0.692), green, blue); display: flex;justify-content: center;
    flex-direction: column;;}

    .footer img{ width: 50%; height: 300px; padding-left: 450px;;}  */